.tab-content {
    background-color: #e3e3e3; /* Цвет фона для содержимого вкладок */
    padding: 15px;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #4190b9; /* Цвет активной вкладки */
    color: #ffffff; /* Цвет текста активной вкладки */
}

.nav-tabs .nav-item .nav-link {
    color: #ffffff; /* Цвет текста неактивной вкладки */
    border-color: #414141;
    background-color: #616161;
}

.nav-tabs .nav-item .nav-link.disabled {
    color: #aeaeae; /* Цвет текста активной вкладки */
}

.preloader-wrapper {
    height :100px;
    width:100px;
    position:relative;
    margin:150px auto;
}
.preloader {
    position:absolute;
    height:60px;
    width:60px;
    left:0; top:0; right:0; bottom:0;
    margin:auto;
    background:red;
    opacity:0.6;
    animation:  rotate 2s infinite;
    transform: scale(0.8);
}
.preloader:before,
.preloader:after {
    content:'';
    height:100%;
    width:100%;
    position:absolute;
    left:0;
    right:0;
    background:red;
    opacity:0;
}
.preloader:before {animation:  rotate_ease 2s infinite;}
.preloader:after {animation: rotate_ease2 2s infinite;}
.preloader,
.preloader:before,
.preloader:after {
    -webkit-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
    -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}
@keyframes rotate {
    0%   { transform:rotate(0) scale(0.8) }
    50% { transform:rotate(360deg) scale(1)}
    100% { transform:rotate(360deg) scale(0.8) }
}
@keyframes rotate_ease {
    0%   { transform:rotate(0); opacity: 0}
    50% {  transform:rotate(-20deg); opacity:0.5}
    90% { transform:rotate(0); opacity:0 }
}
@keyframes rotate_ease2 {
    0%   { transform:rotate(0); opacity: 0}
    40% {  transform:rotate(-40deg); opacity:0.2}
    80% {  transform:rotate(-10deg); opacity:0.1}
    90% { transform:rotate(0); opacity:0 }
}



