.tab-content {
    background-color: #e3e3e3; /* Цвет фона для содержимого вкладок */
    padding: 15px;
}

.nav-tabs .nav-item .nav-link.active {
    background-color: #4190b9; /* Цвет активной вкладки */
    color: #ffffff; /* Цвет текста активной вкладки */
}

.nav-tabs .nav-item .nav-link {
    color: #ffffff; /* Цвет текста неактивной вкладки */
    border-color: #414141;
    background-color: #616161;
}

.nav-tabs .nav-item .nav-link.disabled {
    color: #aeaeae; /* Цвет текста активной вкладки */
}

